.app {
  position: relative;
}

.background {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 30, 40, 1)), url('./images/avengers.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* Takes 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 30px;
}

.navbar {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 30, 40, 0.4);
  /* Background color with 40% opacity */
  color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.navbar-logo img {
  height: 33px;
  width: 174px;
  /* Adjust as needed */
}

.navbar-links {
  display: flex;
  justify-content: center;
  /* Center the links horizontally */
  align-items: center;
  flex-grow: 1;
  margin-right: 174px;
}

.navbar-links a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.my-button {
  background-color: #D8FF00;
  width: 200px;
  height: 40px;
  border-radius: 70px;
  align-self: center;
  cursor: pointer;
}

.button-text {
  font-weight: bold;
}