.app {
  position: relative;
}

#home {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 30, 40, 1)), url('./images/pozadina.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
  /* Takes 100% of the viewport height */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: wrap;
  word-break: break-word;
}

#channels {
  background-image: linear-gradient(to bottom, rgba(0, 30, 40, 1), rgba(0, 30, 40, 0)),
    /* Gornji gradijent */
    linear-gradient(to top, rgba(0, 30, 40, 1), rgba(0, 30, 40, 0)), url('./images/avengers.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  height: auto;
  width: 100%;
  color: white;
  justify-content: center;
  align-items: center;
  align-content: center;
  overflow: hidden;
  white-space: wrap;
  word-break: break-word;
  /* Takes 100% of the viewport height */
}

#offers {
  background-image: linear-gradient(to top, rgba(0, 30, 40, 0), rgba(0, 30, 40, 1)),
    /* Gornji gradijent */
    linear-gradient(to top, rgba(0, 30, 40, 1), rgba(0, 30, 40, 0)), url('./images/lacasadepapel.jpg');
  background-size: cover;
  background-position: top;
  min-height: 100vh;
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: wrap;
  word-break: break-word;
}

.offerBoxes {
  width: 100%;
  height: 70%;
}

#contact {
  background-color: #001E28;
  background-size: cover;
  background-position: center;
  height: 30vh;
  width: 100%;
}

.homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-self: center;
  color: white;
}

.contentColumn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 45px;
  justify-content: center;
  color: red
}

.flagBox {
  width: 20%;
  height: 100px;
  background-color: rgba(0, 30, 40, 0.4);
  /* Background color with 40% opacity */
  color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flagBoxTxt {
  text-align: center;
  font-family: LiveSportFinderLatin-Bold;
}

.contentRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 53px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  margin-top: 30px;
}

.navbar {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: rgba(0, 30, 40, 0.4);
  /* Background color with 40% opacity */
  color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 20px;
  position: fixed;
  z-index: 1000;
}

.navbar-logo img {
  height: 33px;
  width: auto;
  cursor: pointer;
  margin-left: 10px;
  /* Adjust as needed */
}

.navbar-links {
  display: flex;
  justify-content: center;
  /* Center the links horizontally */
  align-items: center;
  flex-grow: 1;
}

.navbar-links a {
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-family: LiveSportFinderLatin-Bold;
}

.flags {
  display: flex;
  margin-right: 10px;
}

.flag {
  width: 30px;
  /* Adjust size as needed */
  margin-left: 10px;
  cursor: pointer;
  /* Adjust spacing as needed */
}

.tooltip-container {
  position: relative;
}

.mail-icon {
  cursor: pointer;
}

.tooltip-text {
  visibility: hidden;
  position: absolute;
  background-color: black;
  color: white;
  padding: 5px;
  width: 150px;
  border-radius: 5px;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  user-select: text;
  text-align: center;
}

.mail-icon:hover+.tooltip-text {
  visibility: visible;
  opacity: 1;
}

.my-button {
  background-color: #D8FF00;
  width: 200px;
  height: 40px;
  border-radius: 70px;
  align-self: center;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: LiveSportFinderLatin-Bold;
  src: url(../public/LivesportFinderLatin-Bold_Static.woff2);
}

.btnTxt {
  font-family: LiveSportFinderLatin-Bold;
  text-transform: uppercase;
}

.channelsTitle {
  align-self: center;
}

.button-text {
  font-weight: bold;
}

.nameOfCountry {
  align-self: center;
}

.search-bar {
  text-align: center;
  /* Adjust margin as needed */
  color: white;
  margin-bottom: 50px;
}

.search-bar input {
  width: 30%;
  height: 50px;
  border-radius: 50px;
  background-color: transparent;
  border: none;
  color: white;
  padding-left: 10px;
  border: 1px solid white;
}

.search-bar ::placeholder {
  color: white;
  opacity: 0.8;
}

.searchIcon {
  cursor: pointer;
  margin-left: 10px;
  height: 20px;
  width: auto;
}

.offerBoxes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.offerBox {
  height: 300px;
  width: 90%;
  background-color: rgba(0, 30, 40, 0.4);
  /* Background color with 40% opacity */
  color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  z-index: 1;
}

.offerBoxTxt {
  margin: 0px;
  font-size: 100px;
  font-family: LiveSportFinderLatin-Bold;
}

.months {
  margin: 0px;
}

.freeTrial {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.freeTrialBox {
  height: 200px;
  width: 40%;
  background-color: rgba(0, 30, 40, 0.4);
  /* Background color with 40% opacity */
  color: #fff;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.orderIPTV {
  color: white;
  font-family: LiveSportFinderLatin-Bold;
  font-size: 30px;
  margin-top: 30px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.noRes {
  align-self: center;
  text-align: center;
}

.threeChar {
  align-self: center;
  text-align: center;
}

.order {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
}

.social {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.logoBottomRight {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 2;
}

.poweredBy {
  font-family: LiveSportFinderLatin-Bold;
  margin: 0;
  margin-left: 7px;
}

.icon {
  width: 30px;
  height: 30px;
  color: white;
}

.rights {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: LiveSportFinderLatin-Bold;
}

.rdOnlineTvLogo img {
  width: 720px;
  height: auto;
}

.logoRdLive img {
  width: 150px;
  height: auto;
}

@media (max-width: 1000px) {
  .offerBoxes {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .offerBox {
    width: 90%;
    margin: auto;
  }

  .search-bar input {
    width: 40%;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 10px;
    border: 1px solid white;
  }

  #offers {
    min-height: 130vh;
  }
}

@media (max-width: 730px) {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 0;
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    background-color: rgba(0, 30, 40, 0.4);
    /* Background color with 40% opacity */
    color: #fff;
    backdrop-filter: blur(10px);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    position: fixed;
    z-index: 1000;
  }

  .navbar-logo img {
    height: 33px;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
    /* Adjust as needed */
  }

  .navbar-links {
    display: flex;
    justify-content: center;
    /* Center the links horizontally */
    align-items: center;
    flex-grow: 1;
  }

  .navbar-links a {
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    font-family: LiveSportFinderLatin-Bold;
  }

  .rdOnlineTvLogo img {
    width: 500px;
    height: auto;
  }

  .orderIPTV {
    font-size: 25px;
  }

  #offers {
    min-height: 130vh;
  }

  .logoRdLive img {
    width: 70px;
    height: auto;
  }

  .poweredBy {
    font-size: 13px;
    margin-left: 3px;
  }

  .contentColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .search-bar input {
    width: 50%;
    height: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: none;
    color: white;
    padding-left: 10px;
    border: 1px solid white;
  }

  .flagBox {
    width: 90%;
    margin: auto;
  }

  .icon {
    width: 25px;
    height: 25px;
  }

  .flag {
    width: 25px;
    /* Adjust size as needed */
    margin-left: 10px;
    cursor: pointer;
    /* Adjust spacing as needed */
  }
}

@media (max-width: 464px) {
  * {
    box-sizing: border-box;
    margin: 0;
  }

  .container {
    width: 100%;
    margin: 0;
  }

  .navbar-logo img {
    height: 25px;
    width: auto;
    cursor: pointer;
    margin-left: 10px;
    /* Adjust as needed */
  }

  .navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    /* Background color with 40% opacity */
    color: #fff;
    backdrop-filter: blur(10px);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(0, 30, 40, 0.4);
    position: fixed;
    z-index: 1000;
  }

  .rdOnlineTvLogo img {
    width: 390px;
  }

  .navbar {
    width: 100%;
    color: #fff;
  }

  #offers {
    min-height: 210vh;
  }

  .navbar-links a {
    font-size: 10px;
    margin: 0 10px;
  }

  .offerBoxes {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
  }

  .offerBox {
    width: 90%;
    margin: auto;
  }

  .orderIPTV {
    font-size: 20px;
  }

  .logoRdLive img {
    width: 70px;
  }

  .poweredBy {
    font-size: 13px;
    margin-left: 3px;
  }

  .search-bar input {
    width: 80%;
  }

  .flagBoxTxt {
    font-size: 14px;
  }

  .contentColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
  }

  .flagBox {
    width: 90%;
  }

  .icon {
    width: 20px;
    height: 20px;
  }

  .social {
    margin-top: 20px;
  }

  .flag {
    width: 20px;
    /* Adjust size as needed */
    margin-left: 10px;
    cursor: pointer;
    /* Adjust spacing as needed */
  }
}